h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
p {
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
    }
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.link {
    text-decoration: none;
}
button {
    cursor: pointer;
}
body {
    font-family: 'Roboto', sans-serif;
        color: #434455;
        background-color: #FFFFFF;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
    background: var(--WHITE, #FFF);;
}
.page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.page-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: flex;
    gap: 40px;
    
}
.logo {
        color: var(--IRIS, #4D5AE5);
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
        
}
.logo-link {
    color: var(--NAVY-BLUE, #2E2F42);
    }
.navigation {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.navigation:hover {
    color: var(--OCEAN, #404bbf);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
   
}
.navigation:focus {
    text-decoration: underline;
    color: #404bbf;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contact {
    font-style: normal;
}
.contact-container {
display: flex;
gap: 40px;
}
.contact-style {
    color: var(--SLATE, #434455);
    font-family: 'Roboto', sans-serifo;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contact-style:hover {
    color: var(--OCEAN,  #404bbf );
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contact-style:focus {
    color: var(--OCEAN, #404bbf);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.main {
    background-color: #2e2f42;
    padding: 188px 0;
}
.title {
        color: var(--WHITE, #ffffff);
        font-family: 'Roboto', sans-serif;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
        }
.service {
        background-color: #4D5AE5;
        color: var(--WHITE, #ffffff);
        font-family: 'Roboto', sans-serif;
        font-size: 16px; 
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        display: block;
        padding: 16px 32px;
        align-items: flex-start;
        gap: 10px;
        margin-left: auto;
        margin-right: auto;
        }
.service:hover {
    background-color: #404bbf;
}
.service:focus {
    background-color: #404bbf;
}
.service {
    cursor: pointer;
}
.title-two {
        color: #2E2F42;
        font-family: 'Roboto', sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 72px;
}
.feature {
    display: flex;
    gap: 24px;
}
.feature-list {
    width: calc((100% - 72px) / 4);
}
.team {
    background-color: #FFFFFF;
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }
.our-team {
    display: flex;
    gap: 24px;
}
.team-list {
        padding: 32px 0;
}

.title-three {
        color: #2E2F42;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;    
        margin-bottom: 8px;
        
}
.title-team-list {
    text-align: center;
    margin-bottom: 8px;
}
.text {
    color: var(--SLATE, #434455);
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.text-img {
    text-align: center;
}
.our-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.our-portfolio-list {
    width: calc((100% - 48px) / 3);
}
.application {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
   }
.foto {
    background-color: #F4F4FD;
}
.low {
    background-color: #2e2f42;
    padding: 100px 0;
   }
   .logo-footer {
    display: inline-block;
    margin-bottom: 16px;
   }
.logo-link-low {
    color: var(--CLOUD, #F4F4FD);
}

.text-low {
    color: var(--CLOUD, #F4F4FD);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        width: 264px;
        }